<div class="container">

  <div class="d-flex align-items-center justify-content-between mb-4">
    <div>
       <p class="h3 p-3">{{ usuario.name }}</p>
    </div>
    <button class="btn btn-outline-secondary btn-sm" onclick="history.back()" *ngIf="usuarioId">
      Volver
    </button>
  </div>

  <div class="row">
   <div class="col-6">
     <div class="thumb d-flex">
       <img
         src="{{ usuario.avatarUrl }}"
         alt="{{ usuario.username }}"
         class="mx-auto"
        
       />
     </div>
   </div>
   <div class="col-6">
     <dl>
       <dt>Nombre</dt>
       <dd>{{ usuario.name }}</dd>
       <hr />
       <dt>Email</dt>
       <dd>{{ usuario.email }}</dd>
       <hr />
       <dt> Rol </dt>
       <dd>{{ usuario.role }}</dd>
       <hr />
       <dt>Locación</dt>
       <dd class="caption">{{ usuario.location }}</dd>
       <hr />
       <dt class="bold">Repositorios</dt>
       <dd>
          <ul>
            <li *ngFor="let repo of usuario.repoIds">
              <a routerLink="/repositorios/{{ repo }}" class="text-primary text-decoration-underline" style="cursor: pointer;">
                {{ repo }}
              </a>
            </li>
          </ul>
       </dd>
     </dl>
   </div>
 </div>
</div>
